/* line 4, app/assets/stylesheets/markdown.scss */
.markdown > *:first-child,
.markdown > blockquote:first-child, .editor-preview-side > *:first-child,
.editor-preview-side > blockquote:first-child, .editor-preview > *:first-child,
.editor-preview > blockquote:first-child {
  margin-top: 0 !important;
}

/* line 8, app/assets/stylesheets/markdown.scss */
.markdown > * *:last-child,
.markdown > blockquote *:last-child, .editor-preview-side > * *:last-child,
.editor-preview-side > blockquote *:last-child, .editor-preview > * *:last-child,
.editor-preview > blockquote *:last-child {
  margin-bottom: 0 !important;
}

/* line 14, app/assets/stylesheets/markdown.scss */
.markdown a:active, .markdown a:hover, .editor-preview-side a:active, .editor-preview-side a:hover, .editor-preview a:active, .editor-preview a:hover {
  text-decoration: underline;
}

/* line 20, app/assets/stylesheets/markdown.scss */
.markdown code,
.markdown pre, .editor-preview-side code,
.editor-preview-side pre, .editor-preview code,
.editor-preview pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

/* line 25, app/assets/stylesheets/markdown.scss */
.markdown code, .editor-preview-side code, .editor-preview code {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  font-size: 85%;
  padding-bottom: .2em;
  padding-top: .2em;
}

/* line 32, app/assets/stylesheets/markdown.scss */
.markdown code:after, .markdown code:before, .editor-preview-side code:after, .editor-preview-side code:before, .editor-preview code:after, .editor-preview code:before {
  content: "\00a0";
  letter-spacing: -0.2em;
}

/* line 39, app/assets/stylesheets/markdown.scss */
.markdown pre, .editor-preview-side pre, .editor-preview pre {
  background-color: #F7F7F7;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
  word-wrap: normal;
}

/* line 48, app/assets/stylesheets/markdown.scss */
.markdown pre > code, .editor-preview-side pre > code, .editor-preview pre > code {
  font-size: 100%;
  white-space: pre;
  word-break: normal;
}

/* line 54, app/assets/stylesheets/markdown.scss */
.markdown pre code, .editor-preview-side pre code, .editor-preview pre code {
  background-color: transparent;
  border: 0;
  display: inline;
  font-size: 12px;
  line-height: inherit;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

/* line 65, app/assets/stylesheets/markdown.scss */
.markdown pre code:after, .markdown pre code:before, .editor-preview-side pre code:after, .editor-preview-side pre code:before, .editor-preview pre code:after, .editor-preview pre code:before {
  content: normal;
}

/* line 72, app/assets/stylesheets/markdown.scss */
.markdown img, .editor-preview-side img, .editor-preview img {
  box-sizing: content-box;
  max-width: 100%;
}

/* line 77, app/assets/stylesheets/markdown.scss */
.markdown kbd, .editor-preview-side kbd, .editor-preview kbd {
  background-color: #FCFCFC;
  border-bottom-color: #BBB;
  border-radius: 3px;
  border: solid 1px #CCC;
  box-shadow: inset 0 -1px 0 #BBB;
  color: #555;
  display: inline-block;
  font-family: monospace, monospace;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

/* line 92, app/assets/stylesheets/markdown.scss */
.markdown em, .editor-preview-side em, .editor-preview em {
  font-style: italic;
}

/* line 96, app/assets/stylesheets/markdown.scss */
.markdown strong, .editor-preview-side strong, .editor-preview strong {
  font-weight: bold;
}

/* line 100, app/assets/stylesheets/markdown.scss */
.markdown blockquote,
.markdown dl,
.markdown ol,
.markdown p,
.markdown pre,
.markdown table,
.markdown ul, .editor-preview-side blockquote,
.editor-preview-side dl,
.editor-preview-side ol,
.editor-preview-side p,
.editor-preview-side pre,
.editor-preview-side table,
.editor-preview-side ul, .editor-preview blockquote,
.editor-preview dl,
.editor-preview ol,
.editor-preview p,
.editor-preview pre,
.editor-preview table,
.editor-preview ul {
  margin-bottom: 16px;
}

/* line 110, app/assets/stylesheets/markdown.scss */
.markdown blockquote, .editor-preview-side blockquote, .editor-preview blockquote {
  border-left: .25em solid #DDD;
  color: #777;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 118, app/assets/stylesheets/markdown.scss */
.markdown dl dd, .editor-preview-side dl dd, .editor-preview dl dd {
  margin-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

/* line 124, app/assets/stylesheets/markdown.scss */
.markdown dl dt, .editor-preview-side dl dt, .editor-preview dl dt {
  margin-top: 16px;
  font-style: italic;
  font-weight: bold;
}

/* line 131, app/assets/stylesheets/markdown.scss */
.markdown h1, .editor-preview-side h1, .editor-preview h1 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 10px;
  margin-top: 0px;
}

/* line 138, app/assets/stylesheets/markdown.scss */
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6, .editor-preview-side h2,
.editor-preview-side h3,
.editor-preview-side h4,
.editor-preview-side h5,
.editor-preview-side h6, .editor-preview h2,
.editor-preview h3,
.editor-preview h4,
.editor-preview h5,
.editor-preview h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

/* line 149, app/assets/stylesheets/markdown.scss */
.markdown h1, .editor-preview-side h1, .editor-preview h1 {
  padding-bottom: .3em;
}

/* line 153, app/assets/stylesheets/markdown.scss */
.markdown h2, .editor-preview-side h2, .editor-preview h2 {
  border-bottom: 1px solid #EEE;
  padding-bottom: .3em;
}

/* line 158, app/assets/stylesheets/markdown.scss */
.markdown h1, .editor-preview-side h1, .editor-preview h1 {
  font-size: 2.5em;
}

/* line 162, app/assets/stylesheets/markdown.scss */
.markdown h2, .editor-preview-side h2, .editor-preview h2 {
  font-size: 1.5em;
}

/* line 166, app/assets/stylesheets/markdown.scss */
.markdown h3, .editor-preview-side h3, .editor-preview h3 {
  font-size: 1.25em;
}

/* line 170, app/assets/stylesheets/markdown.scss */
.markdown h5, .editor-preview-side h5, .editor-preview h5 {
  font-size: .875em;
}

/* line 174, app/assets/stylesheets/markdown.scss */
.markdown h6, .editor-preview-side h6, .editor-preview h6 {
  color: #777;
  font-size: .85em;
}

/* line 179, app/assets/stylesheets/markdown.scss */
.markdown hr, .editor-preview-side hr, .editor-preview hr {
  background-color: #E7E7E7;
  border: 0;
  border-bottom: 1px solid #EEE;
  box-sizing: content-box;
  height: .25em;
  margin: 24px 0;
  overflow: hidden;
  padding: 0;
}

/* line 191, app/assets/stylesheets/markdown.scss */
.markdown li + li, .editor-preview-side li + li, .editor-preview li + li {
  margin-top: .25em;
}

/* line 195, app/assets/stylesheets/markdown.scss */
.markdown li > p, .editor-preview-side li > p, .editor-preview li > p {
  margin-top: 16px;
}

/* line 200, app/assets/stylesheets/markdown.scss */
.markdown ol,
.markdown ul, .editor-preview-side ol,
.editor-preview-side ul, .editor-preview ol,
.editor-preview ul {
  padding-left: 2em;
}

/* line 205, app/assets/stylesheets/markdown.scss */
.markdown ol, .editor-preview-side ol, .editor-preview ol {
  list-style-type: decimal;
}

/* line 208, app/assets/stylesheets/markdown.scss */
.markdown ol li, .editor-preview-side ol li, .editor-preview ol li {
  list-style-type: decimal;
}

/* line 213, app/assets/stylesheets/markdown.scss */
.markdown ul, .editor-preview-side ul, .editor-preview ul {
  list-style-type: disc;
}

/* line 216, app/assets/stylesheets/markdown.scss */
.markdown ul li, .editor-preview-side ul li, .editor-preview ul li {
  list-style-type: disc;
}

/* line 221, app/assets/stylesheets/markdown.scss */
.markdown ol ul,
.markdown ul ul, .editor-preview-side ol ul,
.editor-preview-side ul ul, .editor-preview ol ul,
.editor-preview ul ul {
  list-style-type: circle;
}

/* line 226, app/assets/stylesheets/markdown.scss */
.markdown ol ol ul,
.markdown ol ul ul,
.markdown ul ol ul,
.markdown ul ul ul, .editor-preview-side ol ol ul,
.editor-preview-side ol ul ul,
.editor-preview-side ul ol ul,
.editor-preview-side ul ul ul, .editor-preview ol ol ul,
.editor-preview ol ul ul,
.editor-preview ul ol ul,
.editor-preview ul ul ul {
  list-style-type: square;
}

/* line 233, app/assets/stylesheets/markdown.scss */
.markdown ol ol,
.markdown ul ol, .editor-preview-side ol ol,
.editor-preview-side ul ol, .editor-preview ol ol,
.editor-preview ul ol {
  list-style-type: lower-roman;
}

/* line 238, app/assets/stylesheets/markdown.scss */
.markdown ol ol ol,
.markdown ol ul ol,
.markdown ul ol ol,
.markdown ul ul ol, .editor-preview-side ol ol ol,
.editor-preview-side ol ul ol,
.editor-preview-side ul ol ol,
.editor-preview-side ul ul ol, .editor-preview ol ol ol,
.editor-preview ol ul ol,
.editor-preview ul ol ol,
.editor-preview ul ul ol {
  list-style-type: lower-alpha;
}

/* line 245, app/assets/stylesheets/markdown.scss */
.markdown table, .editor-preview-side table, .editor-preview table {
  display: block;
  width: 100%;
  overflow: auto;
}

/* line 250, app/assets/stylesheets/markdown.scss */
.markdown table td,
.markdown table th, .editor-preview-side table td,
.editor-preview-side table th, .editor-preview table td,
.editor-preview table th {
  padding: 6px 13px;
  border: 1px solid #DDD;
}

/* line 256, app/assets/stylesheets/markdown.scss */
.markdown table th, .editor-preview-side table th, .editor-preview table th {
  font-weight: bold;
}

/* line 260, app/assets/stylesheets/markdown.scss */
.markdown table tr, .editor-preview-side table tr, .editor-preview table tr {
  border-top: 1px solid #CCC;
}

/* line 263, app/assets/stylesheets/markdown.scss */
.markdown table tr:nth-child(2n), .editor-preview-side table tr:nth-child(2n), .editor-preview table tr:nth-child(2n) {
  background-color: #F8F8F8;
}
