.markdown {
  > *,
  > blockquote {
    &:first-child {
      margin-top: 0 !important;
    }

    *:last-child {
      margin-bottom: 0 !important;
    }
  }

  a {
    &:active,
    &:hover {
      text-decoration: underline;
    }
  }

  code,
  pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }

  code {
    background-color: rgba(0, 0, 0, .04);
    border-radius: 3px;
    font-size: 85%;
    padding-bottom: .2em;
    padding-top: .2em;

    &:after,
    &:before {
      content: "\00a0";
      letter-spacing: -0.2em;
    }
  }

  pre {
    background-color: #F7F7F7;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
    word-wrap: normal;

    > code {
      font-size: 100%;
      white-space: pre;
      word-break: normal;
    }

    code {
      background-color: transparent;
      border: 0;
      display: inline;
      font-size: 12px;
      line-height: inherit;
      max-width: auto;
      overflow: visible;
      padding: 0;
      word-wrap: normal;

      &:after,
      &:before {
        content: normal;
      }
    }
  }

  img {
    box-sizing: content-box;
    max-width: 100%;
  }

  kbd {
    background-color: #FCFCFC;
    border-bottom-color: #BBB;
    border-radius: 3px;
    border: solid 1px #CCC;
    box-shadow: inset 0 -1px 0 #BBB;
    color: #555;
    display: inline-block;
    font-family: monospace, monospace;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  blockquote,
  dl,
  ol,
  p,
  pre,
  table,
  ul {
    margin-bottom: 16px
  }

  blockquote {
    border-left: .25em solid #DDD;
    color: #777;
    padding-left: 1em;
    padding-right: 1em;
  }

  dl {
    dd {
      margin-bottom: 16px;
      padding-left: 16px;
      padding-right: 16px;
    }

    dt {
      margin-top: 16px;
      font-style: italic;
      font-weight: bold;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
  }

  h1,
  h2 {
    border-bottom: 1px solid #EEE;
    padding-bottom: .3em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h5 {
    font-size: .875em;
  }

  h6 {
    color: #777;
    font-size: .85em;
  }

  hr {
    background-color: #E7E7E7;
    border: 0;
    border-bottom: 1px solid #EEE;
    box-sizing: content-box;
    height: .25em;
    margin: 24px 0;
    overflow: hidden;
    padding: 0;
  }

  li {
    + li {
      margin-top: .25em;
    }

    > p {
      margin-top: 16px;
    }
  }

  ol,
  ul {
    padding-left: 2em;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  ol ul,
  ul ul {
    list-style-type: circle;
  }

  ol ol ul,
  ol ul ul,
  ul ol ul,
  ul ul ul {
    list-style-type: square;
  }

  ol ol,
  ul ol {
    list-style-type: lower-roman;
  }

  ol ol ol,
  ol ul ol,
  ul ol ol,
  ul ul ol {
    list-style-type: lower-alpha;
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;

    td,
    th {
      padding: 6px 13px;
      border: 1px solid #DDD;
    }

    th {
      font-weight: bold;
    }

    tr {
      border-top: 1px solid #CCC;

      &:nth-child(2n) {
        background-color: #F8F8F8;
      }
    }
  }
}
