.nav-wrapper {
  margin-left: 20px; margin-right: 20px;
}

main {
  min-height: 500px;

  .markdown {
  }
}

//tabs
.tabs {
  margin-bottom: 30px;
}

#raw-editor-body {
  height: 20em;
}

div#preview {
  margin-top: 105px;
}
