@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

html {
  font-family: 'Noto Sans Japanese', serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans Japanese', serif;
    }
    p, div {
  font-family: 'Noto Sans Japanese', serif;
        }
