@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

body {
  background-color: #fff;
}

main {
  min-height: 500px;
}

.word-footer {
  margin: 40px 0px 0px;
}

.page-footer {
  margin-top: 30px;
  padding: 40px 0 0 0;
  color: #999;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

/* customize bootstrap */
.form-inline > * {
     margin:0px 3px;
}

a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading {
  font-weight: bold;
  color: #2196f3;
}

/* for facebook like button */
a.fb-button {
  vertical-align: top !important;
  border-radius: 2px;
  background-color: #3b5998;
  border-color: #3b5998;
}

/* for tag-it jQuery */
.ui-helper-hidden-accessible {
  display: none;
}
